body
{
	text-align:center;
	color:#0FBE7C;
	background: url("../images/text_bg.png") no-repeat;
	/*border: 2px solid #136684;*/
	margin:70px;
	padding:30px;
}
#container
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:500px;

}

#top
{
	position:relative;
	width:100%;
	height:40px;
	padding:2px;
	background-color:#0FBE7C;
	text-align:center;
	font-family:Verdana;
	color:#FFFFFF;
	font-size:18pt;
}

#login_form
{
	position:relative;
	width:100%;
	height:230px;
	padding:2px;	
	font-family:Verdana;
	color:white;
	font-size:10pt;
	background: #009755;
}

#welcome_message
{
	text-align:center;
	margin-top:10px;
	margin-bottom:20px;
}

.error
{
	margin:0 auto;
	border:3px solid #d3153b;
	background-color:#fbe6f2;
	padding:5px;
	width:80%;
	text-align:center;
	font-size:18px;
	margin-bottom:20px;
	
}

.form_field_label
{
	float:left;
	margin-left:20px;
	width:40%;
}

.form_field
{
	float:left;
	width:40%;
}

#submit_button
{
	position:absolute;
	top:70px;
	right:221px;
	
}

input
{
	font-family:Arial;
}

